body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px
}

.header {
  padding: 10px 20px;
}

.header .header-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 10px;
  height: 10px;
}

.game-container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  flex-wrap: wrap;
  border: 1px solid black
}

.box-container .box.active {
  background-color: orange
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-container .score {
  display: flex;
  align-items: center;
}

.score-container .score p {
  padding: 5px 40px;
  border: 1px solid black;
  margin: 0
}



